# Task 3

## General instructions

First, update the following cell to have a link to your Homework 2 GitHub repository

**UPDATE THIS LINK**

https://github.com/saingersoll/eds220-hwk-2

Add comments for all your code and commit as needed. Err on the side of commenting and commiting too much for now.

## Acknowledgments

This exercise is based on this [NCEAS Learning Hub R lesson](https://learning.nceas.ucsb.edu/2023-06-delta/session_11.html).

Halina Do-Linh, Carmen Galaz Garc√≠a, Matthew B. Jones, Camila Vargas Poulsen. 2023. Open Science Synthesis training Week 1. NCEAS Learning Hub & Delta Stewardship Council.

## About the data

In this task you will use simplified data from the Alaska Department of Fish & Game containing commercial salmon catch data from 1878 to 1997. The original data can be accessed here at KNB:

 [Mike Byerly. (2016). Alaska commercial salmon catches by management region (1886- 1997). Gulf of Alaska Data Portal. df35b.304.2.](https://knb.ecoinformatics.org/view/df35b.304.2)

The dataset is in a csv file in the homework's repo (salmon_data.csv) and has the following columns:

- Region: region code
- Year: year fish were caught
- notesRegCode: notes and comments
- Species: species of salmon caught
- Catch: commercial catches of salmon species (in tousands of fish)

## FINAL CODE

You will use the next cell at the end of the task. Leave it blank for now.

In [ ]:
### ===== FINAL CODE =====

import pandas as pd                                                     # reading in libraries
import matplotlib.pyplot as plt


catch_original = pd.read_csv('salmon_data.csv')                         # reading in data

catch_original.head()                                                   # checking dataframe was read in properly

catch_original.dtypes                                                   # calls for the description of each columns data type

print(catch_original.Catch.unique())                                    # displays the unique values in Catch 

catch_original[(catch_original['Catch'] == 'l')]                        # identifying misinterpreted rows

catch_original.at[400, 'Catch'] = 1                                     # converts misinterpreted data points into correct values 
catch_original.iloc[400, : ]                                            # confirms data was updated  


catch_original['catch_data'] = catch_original.Catch.astype('int64')     # updating column name and data type

catch_original = catch_original.drop(columns = 'Catch')                 # removes unwanted column

catch_original.dtypes                                                   # displays columns data types

catch_average = catch_original.groupby('Region').mean().catch_data      # storing a new data frame that is grouped by average catch per region

catch_average.head()                                                    # displays dataset created

bar_graph = catch_average.plot(kind = "bar",                                       # type of graph., bar
                               columns = "Region",                                 # columns to assess by
                               values = 'catch_data',                              # count for columns
                               title='Average Catch by Region from 1878-1997',     # title
                               xlabel= 'Year',                                     # x label
                               ylabel = 'Average Catch')                           # y label

## 1

Import the data from the `salmon_data.csv` as `catch_original` and look at the head of the dataframe.

In [2]:
import pandas as pd                                                                   # reading in libraries
import matplotlib.pyplot as plt


catch_original = pd.read_csv('salmon_data.csv')                                       # reading in data

catch_original.head()                                                                 # checking dataframe was read in properly

  Region  Year notesRegCode  Species Catch
0    SSE  1886          NaN  Chinook     0
1    SSE  1887          NaN  Chinook     0
2    SSE  1888          NaN  Chinook     0
3    SSE  1889          NaN  Chinook     0
4    SSE  1890          NaN  Chinook     0

## 2
In the next cell:
1. Print the unique values (not the number of unique values) of the `notesRegCode` column. 
2. Update the dataframe so it doesn't have the `notesRegCode` column.
3. Verify the column is no longer in the dataframe.

In [3]:
print(catch_original.notesRegCode.unique())                                           # print the unique values in selected column

[nan 'Includes Yakutat catches' 'Yakutat catch included in No SE AK catch'
 'Estimated from canned production, probably sockeye' 'No fishery'
 'Bering River catches included in Copper River catches'
 'Includes Bering River catches; estimated from canned'
 'Includes Bering River catches'
 'Coho and pink catch estimated from canned production'
 'Includes Bering River; coho and pink estimated fro canned'
 'Pink catch estimated from canned'
 'Includes Bering River; coho pink and chum estimated from canned'
 'Includes Bering River; pink estimated from canned'
 'Includes Bering River; pink and chum estimated from canned'
 'Includes Copper River catches'
 'Includes Copper River catches; coho catch porbably mostly pinks'
 'Eshamy District only' 'Estimated from canned; excludes Resurrection Bay'
 'Estimated from canned production' 'No Resurrection Bay fishery'
 'Resurrection bay contribution estimated from canned production'
 'No reported catch'
 'Sockeye and pink and 9922 chum from Port Clarence area'
 'Chinook and coho and chum estimated from canned production'
 'Pink catch includes some chums'
 'Pink and chum catch estimated form canned production'
 'Pink and chum catch estimated form canned production; from Castle Cp. To E. boundary'
 'Estimated from canned production; includes Aleautian Island catches'
 'Catches from Unalaksa to Castle Cape'
 'Catches included in S. peninsula catches or none']

In [6]:
catch_original = catch_original.loc[ : ,["Region", "Year", "Species", 'Catch']]         # removing notesRegCode from df

# df.drop() is another applicable method

In [9]:
catch_original.head()                                                # checking to make sure the column was removed
catch_original.info()                                                # inspecting data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8540 entries, 0 to 8539
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Region   8540 non-null   object
 1   Year     8540 non-null   int64
 2   Species  8540 non-null   object
 3   Catch    8540 non-null   object
dtypes: int64(1), object(3)
memory usage: 267.0+ KB

## 3
In the next cell, check the data types of the columns. Does each column have the expected data type? Write your answer as a short comment in the same cell.

In [10]:
catch_original.dtypes                                        # calls for the description of each columns data type

# ANSWER: Almost every column contains the expected type, except catch. I would have assumed catch to be an int64 because it contains numeric values

Region     object
Year        int64
Species    object
Catch      object
dtype: object

## 4 
The following cell shows a first attempt at updating the `Catch` column to be of data type `int64` instead of `object`. Converting from one data type to another is often called **casting**. 

To do it we use the [`astype()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html) method for `pandas.Series`.

Run the next cell and read the end of the error message closely.

In [11]:
# to use `astype` we select a specifc column
#  and then indicate the dtype we want to convert to
#  astype does not modify the column in place
catch_original.Catch.astype('int64')

ValueError: invalid literal for int() with base 10: 'I'

## 5 

The previous error tells us there is a value 'I' (as in the letter 'I') that could not be converted to integer type.  It turns out this data set is from a PDF which was automatically converted into a csv and this value of 'I' is actually a 1.

In the next cell find the row(s) that is causing this issue. Show the filtered row(s) as the output.

In [12]:
print(catch_original.Catch.unique())                                        # displays the unique values in Catch

['0' '3' '4' ... '709' '667' '393']

In [17]:
catch_original[(catch_original['Catch'] == 'I')]                            # identifying misinterpreted rows

    Region    Year  Species Catch
400    GSE  1955.0  Chinook     I

## 6
In the next cell:

1. Update the value of I to 1. HINT: you could use the `at` method to access a single value in the dataframe.
2. Access the row you updated to verify the value was changed.

In [20]:
catch_original.at[400, 'Catch'] = 1                      # converts misinterpreted data points into correct values

In [21]:
catch_original.iloc[400, : ]                             # confirms data was updated

Region         GSE
Year        1955.0
Species    Chinook
Catch            1
Name: 400, dtype: object

## 7
In the next cell:

1. Update the Catch column in `catch_data` to be of type `int64`.
2. Check the dtypes of the columns.

In [22]:
catch_original['catch_data'] = catch_original.Catch.astype('int64')     # updating column name and data type

catch_original = catch_original.drop(columns = 'Catch')                 # removes unwanted column

catch_original.dtypes                                                   # displays columns data types

Region         object
Year          float64
Species        object
catch_data      int64
dtype: object

## 8
Create a dataframe with the average catch per region. HINT: use `groupby()`. Store your dataframe in new variable.

In [23]:
catch_average = catch_original.groupby('Region').mean().catch_data      # storing a new data frame that is grouped by average catch per region

catch_average.head()                                                    # displays dataset created

Region
ALU      40.383908
BER      16.372549
BRB    2709.796491
CHG     315.487273
CKI     683.571429
Name: catch_data, dtype: float64

## 9 

Use the dataframe you created in 8 to make a bar graph of the estimated average salmon catches by region from 1878 to 1997. The bars in the graph should be ordered by magnitude (increasing or decreasing is ok). Add a title  to your graph and update the axes labels if needed (check the units for the salmon catch).

In [27]:
bar_graph = catch_average.groupby(['Region','Year']).average().catch_data.sort_values().plot(kind = 'barh')
                                                                                          # title='Average Catch by Region from 1878-1997',     # title
                                                                                          #  xlabel= 'Year',                                     # x label
                                                                                   #         ylabel = 'Average Catch')                           # y label

KeyError: 'Year'

## 10

Collect all the relevant code into the first blank cell of the notebook titled "FINAL CODE". This single cell will have the end-to-end workflow: from importing libraries and loading the data, to producing the graph. The *only* ouput of this cell should be the graph you produced in the previous exercise. For each line, add a single comment explaining what the code does.